{% extends 'base.html.twig' %}

{% block title %}Hello RecetteController!{% endblock %}

{% block body %}
<div class="container align-content-center">
    <br>
  {{ form(createForm) }}

</div>
{% endblock %}
